.room {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-block: 5rem 8rem;
    padding: 2rem 0.8rem;


    .user {
        width: 100%;
        max-width: 60rem;
        text-align: center;
        font-size: 2rem;
        color: $primary-500;
        line-height: 3rem;
    }

    .video-container {
        width: 100%;
        height: auto;
        border: 5px solid black;
        border-radius: 1rem;
    }
}

.meeting-options {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    bottom: 2rem;
    margin-inline: auto;
    width: 100%;
    flex-wrap: wrap-reverse;

    .media-button {
        font-size: 3rem;
        cursor: pointer;
        padding: 1.5rem;
        border-radius: 50%;
        border: 1px solid white;
    }

    .uil-phone-slash {
        color: red;
    }
}

@media (max-width: 400px) {
    .meeting-options {
        gap: 1.3rem;
        bottom: 1rem;
        flex-wrap: wrap;

        .media-button {
            font-size: 2.5rem;
            padding: 1rem;
        }
    
        .uil-phone-slash {
            font-size: 2.5rem;
        }
    }

    
}